.container-nosotros{
    display: flex;
    justify-content: center;
    .video_nosotros{
        margin-bottom: 2rem;
        margin-top: 1rem;
        width: 600px;
        height: 400px; 
        border: 10px solid #EEAC18;
        border-radius: 30px;
    }
}

.equipo{
    display:flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: space-around;
    .miembro{
        width:300px;
        margin-top: 10px;

    }
    .foto-equipo{ 
        max-width: 300px;
        height: 300px;

    }
    h3{
        color: black;
        margin: 0 1.5rem;
        font-family: "VanCondensed";
        font-style: italic;
        font-weight: bold;
        text-transform: capitalize;
    }
    p{
        padding: 0 3rem 0 1rem;
        text-align: initial;
        font-family: "Franklin";
    }

}
