@charset "UTF-8";
/* Estilos Globales */
@font-face {
  font-family: "VanCondensed";
  src: url(Van\ Condensed-Regular.otf);
}
@font-face {
  font-family: "Franklin";
  src: url(Franklin\ Gothic\ Book\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #131722;
  width: 100%;
}
nav li {
  list-style-type: none;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
nav a {
  font-family: "VanCondensed";
  font-size: larger;
  font-weight: bolder;
}
nav li:hover {
  background-color: #EEAC18;
  transition: 0.5s;
}

.logo-nav {
  margin: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  height: 45px;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Declarar areas Footer*/
.mision {
  grid-area: mision;
}

.vision {
  grid-area: vision;
}

.valores {
  grid-area: valores;
}

.proposito {
  grid-area: proposito;
}

.derechos {
  grid-area: derechos;
}

.footer {
  display: grid;
  background-color: #131722;
  color: white;
  grid-template-areas: "mision" "vision" "valores" "proposito" "derechos";
}
.footer h2 {
  padding: 0.5em 1em;
  font-family: "VanCondesed";
  font-size: xx-large;
  font-weight: bolder;
}
.footer p {
  padding: 0 1.5rem;
  font-family: "Franklin";
}
.footer ul {
  padding: 0 3em;
  font-family: "Franklin";
  -webkit-text-decoration: double;
          text-decoration: double;
}
.footer h3 {
  margin: 1em;
  text-align: center;
  font-size: small;
}

@media (min-width: 768px) {
  .footer {
    grid-template-areas: "mision  vision" "valores proposito" "derechos derechos";
  }
}
@media (min-width: 992px) {
  .footer {
    grid-template-areas: "mision  vision valores proposito" "derechos derechos derechos derechos";
  }
}
.home_servicios {
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/home_background_servicios.jpg");
  background-size: cover;
  grid-template-areas: "titulo" "home_risk" "home_portafolios";
}
.home_servicios h2 {
  margin-top: 2rem;
  text-align: center;
  font-family: "VanCondensed";
  font-weight: bolder;
  font-size: 40px;
  color: white;
  grid-area: titulo;
}
.home_servicios .home_card {
  margin: 2rem;
  margin-top: 0.1rem;
  align-items: center;
  max-width: 90%;
  background: none;
  border: none;
}
.home_servicios .home_card h3 {
  font-family: "VanCondensed";
  font-size: x-large;
  font-weight: bolder;
  margin: 1rem;
  color: whitesmoke;
  text-align: center;
}
.home_servicios .home_card h4 {
  color: whitesmoke;
  font-family: "VanCondensed";
  padding: 0.5rem;
  font-size: large;
}
.home_servicios .home_card li {
  padding: 1rem;
  color: whitesmoke;
  font-family: "Frankin";
  font-size: 20px;
}
.home_servicios .home_card a {
  background-color: #EEAC18;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Franklin";
  font-size: large;
  font-weight: bolder;
  color: black;
}

/* Declarar areas Footer*/
.home_risk {
  grid-area: home_risk;
}

.home_portafolios {
  grid-area: home_portafolios;
}

@media (min-width: 768px) {
  .home_servicios {
    grid-template-areas: "titulo" "home_risk" "home_portafolios";
  }
  .home_servicios .home_card h3 {
    font-size: xx-large;
  }
  .home_servicios .home_card h4 {
    font-size: x-large;
    color: #EEAC18;
    font-weight: bolder;
  }
  .home_servicios .home_card li {
    font-size: 25px;
    font-family: "Franklin";
  }
  .home_servicios .home_card a {
    font-size: x-large;
  }
}
@media (min-width: 992px) {
  .home_servicios {
    grid-template-areas: "titulo         titulo" "home_risk     home_portafolios";
  }
}
.grid-risk {
  display: grid;
}
.grid-risk h2 {
  color: #5B6EA0;
  margin: 1rem;
  text-align: center;
  font-family: "VanCondensed";
  font-weight: bolder;
  text-transform: uppercase;
}
.grid-risk h3 {
  color: #EEAC18;
  margin: 0.5em;
  font-family: "VanCondensed";
  font-weight: bold;
  text-transform: uppercase;
}
.grid-risk ul {
  padding: 0 3em;
  font-family: "Franklin";
  -webkit-text-decoration: double;
          text-decoration: double;
}
.grid-risk img {
  padding: 0 1.5rem;
}

.giant-quotes-quote {
  display: block;
  font-family: "Franklin";
  font-weight: bold;
  margin: 1em 3em;
  max-width: 20em;
}
.giant-quotes-quote blockquote > * {
  padding: 0 2em;
}
.giant-quotes-quote blockquote {
  display: inline-block;
  margin: 0;
  padding: 1em;
  position: relative;
}
.giant-quotes-quote blockquote cite {
  color: #c60;
  display: block;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  font-family: "VanCondensed";
}
.giant-quotes-quote blockquote:before {
  color: #f90;
  content: "“";
  font-size: 4em;
  left: 0;
  line-height: 0.75em;
  position: absolute;
  top: 0;
  transform: scale(2, 8);
  transform-origin: top;
}
.giant-quotes-quote blockquote:after {
  color: #f90;
  content: "”";
  font-size: 4em;
  line-height: 0.75em;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(2, 8);
  transform-origin: top;
}

.track-record {
  width: 95%;
  margin: 1rem;
  border: 2px solid #131722;
  border-radius: 1rem;
}

.logo-clientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.logo-clientes div {
  border: 2px solid #131722;
  text-align: center;
  padding: 1em;
}

.logo-pequeno {
  width: -moz-max-content;
  width: max-content;
  height: 50px;
}

.logos {
  padding-bottom: 2rem;
}

.container-nosotros {
  display: flex;
  justify-content: center;
}
.container-nosotros .video_nosotros {
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 600px;
  height: 400px;
  border: 10px solid #EEAC18;
  border-radius: 30px;
}

.equipo {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  justify-content: space-around;
}
.equipo .miembro {
  width: 300px;
  margin-top: 10px;
}
.equipo .foto-equipo {
  max-width: 300px;
  height: 300px;
}
.equipo h3 {
  color: black;
  margin: 0 1.5rem;
  font-family: "VanCondensed";
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
}
.equipo p {
  padding: 0 3rem 0 1rem;
  text-align: initial;
  font-family: "Franklin";
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Franklin";
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Franklin";
}

input[type=submit]:hover {
  background-color: #45a049;
  font-family: "Franklin";
}

.container {
  background-color: #f2f2f2;
  padding: 2rem;
  font-family: "VanCondensed";
}

.container h2 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}/*# sourceMappingURL=estilos.css.map */